<main class="container pt-4">
  <h3 *ngIf="account">{{account.accountType | titlecase}} {{account.accountNumber}}</h3>
  <p *ngIf="account">Available Balance: {{account.balance | currency}} {{account.currency}}</p>

  <section class="">
    <div class="card mb-3 col-12 pl-0 pr-0" *ngFor="let transaction of transactions">
      <div class="card-body">
        <div class="row">
          <h6 class="card-title d-inline-block mb-0 col-4">{{transaction.description | uppercase}}</h6>
          <p class="d-inline-block mb-0 col-4 text-center">{{transaction.createDate}}</p>
          <label class="d-inline-block mb-0 col-4 text-right {{transaction.transactionType}}">{{transaction.amount | currency}} {{account.currency}}</label>
        </div>
      </div>
    </div>

    <a class="btn btn-primary btn-block btn-lg mb-3" *ngIf="!lastPage" (click)="loadMore()">load more</a>

    <div class="card mb-3 col-12 pl-0 pr-0" *ngIf="!transactions">
        <div class="card-body">
          <div class="row">
            <h6 class="card-title d-inline-block mb-0 col-12">No transactions available.</h6>
          </div>
        </div>
      </div>
  </section>
</main>