header.bg-dark {
  background-color: #1073a8 !important;
}
header .btn-profile {
  padding: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  border-radius: 25px;
}
header .btn-profile img {
  height: 50px;
  width: 50px;
}