<header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a *ngIf="customer" class="navbar-brand mr-auto" routerLink="/">Sample Bank</a>
  <p *ngIf="customer" class="mb-0 mr-2 text-white">Hi, {{customer.name | titlecase}}!</p>
  <button class="btn btn-profile" (click)="onProfileClick()"> 
    <img class="rounded-circle" src="assets/images/user.svg" title="logout">
  </button>
</header>
