<main class="container pt-4">
  <h3 class="mb-3">Deposit Accounts</h3>

  <section class="">
    <div class="card mb-3 col-12 pl-0 pr-0" *ngFor="let account of accounts" (click)="onClick(account)">
      <div class="card-body">
        <h5 class="card-title d-inline-block mb-0">{{account.accountType | titlecase}} {{account.accountNumber}}</h5>
        <label class="float-right d-inline-block mb-0">{{account.balance | currency}} {{account.currency}}</label>
      </div>
    </div>

    <a class="btn btn-primary btn-block btn-lg mb-3" *ngIf="!lastPage" (click)="loadMore()">load more</a>
  </section>
</main>