body {
  padding-top: 66px;
  background-color: #f5f8fa;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.card {
  border: 1px solid #eee;
  border-radius: 0;
  cursor: pointer;
  /* border: none; */
  /* border-radius: 0; */
  /* box-shadow: 0 2px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.card:hover {
  background-color: rgba(0,0,0,0.1);
}

.btn-primary {
  color: #fff !important;
  background-color: #1073a8;
  border-color: #1073a8;
  border-radius: 0;
}

.btn-primary:hover, .btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #2ba94c;
  border-color: #2ba94c;
}